
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(35,35,35); 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(78,165,87,0.3);
}
.container{
    width: 150vh;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(251, 251, 252);
}
#game{
   margin-right: 20px;
    padding: 0 20px;
}
#question{
    margin-top: 45px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 750;
    margin-bottom: 20px;
    overflow: auto;
}
.choice-container{
    display: flex;
    width: 100%;
    border: 2px solid snow;
    margin: 4px 7px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    border-radius: 8px;
    height: auto;
    background-color: rgba(20,76,165,0.233);
    overflow: auto;
}
.choice-container:hover{
    cursor: pointer;
    transform: translate(20px);
    transition: transform 0.3s;
}
.choice-prefix{
     position: absolute;
     left: 20px;
}
.choice-text{
    width:100%;
    max-width: 80%;
    font-weight: 550;
}
.incorrect{
    background-color: tomato;
    transition: 1s;
}
.correct{
    background-color: lightgreen;
    transition: 1s;
}
#upper{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
#upper-main-text{
    text-align: center;
}
#upper-main-text2{
    color: rgb(0, 8, 0);
    text-align: center;
}
.upper-prefix{
    font-weight: 550;
}
